.header1 {
    display: flex;
    margin-left: 190px;
}
.header-links {
    display: flex;
    gap: 15px;
    margin-left: 630px;
    margin-top: 15px;
}
a {
    text-decoration: none;
    color: wheat
}
.title-portion {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-top: 55px;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9fAf8;
    padding-bottom: 10px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb; 
}
.signup-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
}

.header2 {
    display: flex;
    margin-left: 150px;


    
}
.mountain-image {
    margin-top: 35px;
}
.section1 {
    background-color: #1f2937;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
}
.randominfo {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 30px;
    margin-bottom: 50px;
}
.randominfo-images {
    display: flex;
    gap: 30px;

}

.bird-display {
    display: flex;
    flex-direction: column;
    max-width: 140px;


}
.bird-image {
    border-radius: 5px;
    border: solid;
    height: 120px;
    border-color: darkslategray;
   
}
.bird-info {
    display: flex;
    text-align: center;
    margin-top: 8px;
}
.river-display {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}
.river-image {
    border-radius: 5px;
    border: solid;
    height: 120px;
    border-color: darkslategray;
}
.river-info {
    display: flex;
    margin-top: 8px;
    text-align: center;
}
.bear-display {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}
.bear-image {
    border-radius: 5px;
    border: solid;
    height: 120px;
    border-color: darkslategray;
    max-width: fit-content;
}
.bear-info {
    display: flex;
    text-align: center;
    margin-top: 8px;
}
.inukshuk-display {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}
.inukshuk-image {
    border-radius: 5px;
    border: solid;
    height: 120px;
    border-color: darkslategray;
}
.inukshuk-info {
    display: flex;
    text-align: center;
    margin-top: 8px;
}
.river-image {
    border-radius: 5px;
    border: solid;
    height: 120px;
    border-color: darkslategray;
}

.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: #e5e7eb;
}
.quoter {
    margin-top: 100px;
    font-size: 45px;
    font-weight: bold;
}
.wayne {
    font-size: 20px;
    margin-top: 12px;
    margin-left: 20px;
}

.section4 {
    display: flex;
    justify-content: center;
    color: white;
   
}
.ticketsection-border {
    background-color:#3882f6 ;
    padding: 50px 150px;
    display: flex;
    margin: 100px;
    border-radius: 10px;
}
.buynow {
    color: white;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    margin-left: 280px;
    font-size: 17px;
    padding: 10px 26px;
    font-weight: bold;
}
.tickets {
    font-weight: bolder;
    font-size: 20px;
}
.copyright {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 20px;
    
   
}
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}